@media (max-width:768px){
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-bar > .nav-links {
        margin-top: 10px;
    }
    #home {
        align-items: center;
    }
    #about .additional{
        display: flex;
        flex-direction: column;
    }
    #about > .image{
        padding-top: 36px;
    }
    #projects {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
   
    #projects > .projects-container{
        flex-direction: column;
        gap: 20px;
    }
    #contacts{
        flex-direction: column;
    }
 
    }
    

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-image:linear-gradient(rgba(0,0,0,0.6)) ,url("images/clrlaptop.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    font-family: 'Roboto' sans-serif;
}
/*Navigation Bar*/
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}
.nav-bar .name{
    font-size: 24px;
    font-weight: 500;
    color: goldenrod;
}
.nav-bar a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 800;
}
.nav-bar a:hover{
    color: goldenrod;
}

/*Content Sections*/
.hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}
#home{
    display: flex;
    padding: 20px 50px;
    justify-content: end;
    gap: 20px;
}
#home .image{
    padding-top: 40px;
}
#home .image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
#home .intro{
    text-align: left;
    padding-left: 10px;
    padding-top: 40px;
    
}
#home .intro h2{
    font-size: 48px;
}
#home .intro h5{
    font-size: 24px;
}

#about{
    display: flex;
    flex-direction: column;
}
#about .image img{
    width: 300px;
    height: 300px;
    object-fit: fill;
    border-radius: 10px;
}
#about > .info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: -20px 20px 0px 20px;
    text-align: center;
    gap: 30px;
}
#about  h1{
    font-family: 'Roboto' sans-serif;
    font-size: 48px;
    color: goldenrod;
}
#about > .info p{
    font-size: 24px;
    line-height: 1.8;
}
#about > .additional{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#about > .additional > .skills{
    width: 80%;
    margin: auto;
}
#about > .additional > .skills p{
    margin: 10px 0 5px;
    font-weight: bold;
    font-family: 'Roboto' sans-serif;
    text-align: left;
}
#about > .additional > .skills > .progress-bar{
    width: 100%;
    height: 20px;
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
}
.progress{
    height: 100%;
    border-radius: 20px;
    animation: load 2s ease-in-out;
}
@keyframes load{
    from{
        width: 0;
    }
}
.html{
    width: 96%;
    background: goldenrod;
}
.css{
    width: 80%;
    background: goldenrod;
}
.python{
    width: 60%;
    background: goldenrod;
}
.js{
    width: 40%;
    background: goldenrod;
}
.cyber{
    width: 30%;
    background: goldenrod;
}

/*Projects section*/

 #projects > .intro > h2{
    font-family: 'Ubuntu';
    font-size: 32px; 
}
#projects > .projects-container{
    display: flex;
    flex-direction: row;
    gap: 40px;

}
#projects > .projects-container > .project-card{
    background-color: rgba(0, 0, 0, 0.3);
    height: 200px;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.5);
}
.project-card h4{
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    color: goldenrod;
}
.project-card p{
    font-size: 14px;
    color: white;
}
.project-card .btn{
    display: inline-block;
    background-color: transparent;
    padding: 2px 8px;
    gap: 2px;
    border-radius: 5px;
    font-family: 'ubuntu', sans-serif;
    font-size: 12px;
    margin-top: 4px;
}
.project-card .view-btn{
    display: inline-block;
    background-color: transparent;
    color: goldenrod;
    padding: 5px 10px;
    border: 2px solid goldenrod;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}

/*Contacts section */
#contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contacts h3{
    font-size: 32px;
    font-family: 'Ubuntu';
}
#contacts > .contact > .image img{
    width: 300px;
    height: 340px;
    border-radius: 20px;
}
mailto{
    padding-top: 20px;
    color: goldenrod;
}
#contacts > .contact{
    display: flex;
    flex-direction: row;
}
#contacts > .contact > .form{
    padding: 10px 20px;
    
}
#contacts > .contact > .form input{
    background: transparent;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
#contacts > .contact > .form > .cont{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
#contacts > .contact > .form > .cont > label{
   color: gold;
   text-align: left;
   padding-left: 16px;
}

textarea{
    background: transparent;
    height: 60px;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}
button{
    border-radius: 20px;
    height: 40px;
    background-color: gold;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
button:hover{
    color: blue;
    background: goldenrod;
}


#contacts > .contact > .reach{
    padding: 20px;
    color: white;
}
#contacts > .contact > .reach .me{
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.me i{
    font-size: 24px;
    padding-top: 20px;
    color: whitesmoke;
}

.me a{
    padding-top: 20px;
    text-decoration: none;
    color: goldenrod;

}
.lowbar{
    bottom: 0;
    position: relative;
    color: gold;
}



